*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    min-width:1200px;
    min-height: 100vh;
    display:flex ;
    flex-direction: column;
}
.logo{
    text-align: center;
    margin-top: 1rem;
    color: black;
    font-size:36pt;
}
.navContainer{
    min-width: 1200px;
    height: auto;
    display: flex;
    gap: 20px;
    background: #333;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav{
    min-width: 1200px;
    height: 50px;   
    display:flex;
    justify-content: center;

    gap: 20px;
    overflow: hidden;
    text-align: center;
    align-items: center;
}
.item{
    height: 100vh;
    padding: 10px;
    background: red;
    border-radius: 5px;
    color: #fff;

}

.heroContainer{
    margin-top: 10px;
    min-width: 1200px;
    min-height:80vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background-image:linear-gradient(to bottom,red,black);
}
img{
 
}